:root {
  /* colors */
  --primary-color: #ffffff;
  --background-color: #0a0a23;
  --button-color: #5a01a7;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

.container {
  background-color: var(--primary-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 40px 64px;
  border-radius: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.btn-ctn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

#number {
  flex-grow: 2;
  padding: 10px 20px;
  border-radius: 32px;
  border: 1px solid var(--background-color);
  outline: none;
}

#number:focus {
  border: 2px solid var(--button-color);
}

#convert-btn {
  flex-grow: 1;
  background-color: var(--button-color);
  color: var(--primary-color);
  border: none;
  border-radius: 32px;
  padding: 10px 20px;
  cursor: pointer;
}

#output {
  display: none;
}